/* icon font path, required */
// $--font-path: '~element-ui/lib/theme-chalk/fonts';

// @import "~element-ui/packages/theme-chalk/src/index";

/* custom changes to element-ui elements */

$--color-primary: #67C23A;

:root {
    --el-menu-horizontal-height: 40px !important; /* Your custom value */
    --el-footer-padding: 0 !important;
  }

.el-footer {
  --el-footer-padding: 0 !important;
}